{% extends "layouts/mainlayout.njk" %}
{% block content %}
<!--banner area start-->

<div align="left" class="carousel slide" id="carousel-example-generic" data-ride="carousel">
 <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../images/banner1.png" alt="...">
      <div class="carousel-caption">
       <div class="hnhn-nurse">
      <h1>healthy naurse</h1>
      <h2>healthy nation</h2>
      <h3>Grand Challenge</h3>
      <p>3.6 Million Registered Nurses Leading the Nation's <br/>Journey to Better Health</p>
      <h4 class="join-bg">join the challenges:</h4> 
      <a href="#" class="bnn_bnt1">I'M AN INDIVIDUAL</a>
      <a href="#" class="btn free-org">I’M  REPRESENTATING <br/>AN ORGANIZATION</a>
     </div>
      </div>
    </div>
  
    <div class="item">
      <img src="../images/banner2.png" alt="...">
      <div class="carousel-caption">
       <div class="hnhn-nurse">
      <h1>healthy naurse</h1>
    <h2>healthy nation</h2>
    <h3>Grand Challenge</h3>
     <p>3.6 Million Registered Nurses Leading the Nation's <br/>Journey to Better Health</p>
      <h4 class="join-bg">join the challenges:</h4> 
      <a href="#" class="bnn_bnt1">I'M AN INDIVIDUAL</a>
      <a href="#" class="btn free-org">I’M  REPRESENTATING <br/>AN ORGANIZATION</a>
     </div>
      </div>
    </div>
  
  <div class="item">
      <img src="../images/banner3.png" alt="...">
      <div class="carousel-caption">
        <div class="hnhn-nurse">
      <h1>healthy naurse</h1>
    <h2>healthy nation</h2>
    <h3>Grand Challenge</h3>
     <p>3.6 Million Registered Nurses Leading the Nation's <br/>Journey to Better Health</p>
      <h4 class="join-bg">join the challenges:</h4> 
      <a href="#" class="bnn_bnt1">I'M AN INDIVIDUAL</a>
      <a href="#" class="btn free-org">I’M  REPRESENTATING <br/>AN ORGANIZATION</a>
     </div>
      </div>
    </div>
</div>




</div>

  <div class="logo_footer">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
        <div class="inner-logo">
     <ul>
       <li>
       <a href="#"> <img src="../images/logo4.png"> </img></a>
       </li>
       <li>
        <a href="#"><img src="../images/logo1.png"></img></a>
       </li>
       <li>
      <a href="#"><img src="../images/logo2.png"></img></a>
       </li>
       <li>
       <a href="#"> <img src="../images/logo3.png"> </img></a>
       </li>
     </ul>
     
    </div>
   </div>
   </div>
   </div>
   </div>
<!---banner area end-->


<!---Grand Challenge area start-->

 <div class="mid_section">
  <div class="plus-icon">
  <img src="../images/plus-icon.png">
  </div>
  <div class="container">
    <div class="row grnd-color">
     <div class="col-md-9">
       <div class="grnd-challenge">
        <h1>What the Healty Nurses Healthy <br/> Nation Grand Challenge?</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem </p>
         <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem </p>

      </div>
     </div>

     <div class="col-md-3">
     <div class="video-icon"> 
      <a href="#"> <img src="../images/video-icon.png">
       <p>Play the video</p></a>
     </div>
     </div>
   </div>
   </div>
   </div>
<!---Grand Challenge area end-->

<!---how it work area start-->
  <div class="how-it-wrk">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
        <div class="work-section">
         <h2>how it work:</h2>
         </div>
         <div class="work-point">
            <p><strong>1</strong>  Take a personalized health risk assessment.
               <img src="../images/health-risk-icon.png"></p>
            <p><strong>2</strong>  Pick your focus area(s):</p>
              <ul>
                <li><a href=""><img src="../images/acitivity-icon.png">  Activity</a></li>
                <li><a href=""> <img src="../images/rest-icon.png">  Reset</a></li>
                <li><a href=""> <img src="../images/nutrition-icon.png">  Nutrition</a></li>
                <li><a href=""> <img src="../images/quality-of-life-icon.png">  Quality of life
                </a></li>
                <li><a href=""> <img src="../images/safety-icon.png">  Safety</a></li> 
              </ul>
              <p><strong >3</strong>  Next to use the fonts in your CSS, here are the rules
                  <img src="../images/health-info-icon.png"></p>
              <p><strong >4</strong>  Next to use the fonts in your CSS, here are the rules
                  <img src="../images/nurses-icon.png"></p>
              <p><strong >5</strong> Next to use the fonts in your CSS, here are the rules
                  <img src="../images/next-goal-icon.png"></p>
            </div>
        </div>
        </div>
     
     <div class="row">
       <div class="col-md-12">
         <div class="hnhn-btn">
           <ul>
              <li><a href="#">join the challenge</a></li>
              <li class="mid_gap"><a href="#">learn more about <br/>the challenge</a></li>
           </ul>
        </div>
      </div>
     </div>
 
 </div>
 </div>
<!---how it work area end-->
   
  
  <!-- why join challenge area start -->
 <div class="why-join-chall">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
        <div class="handing-why-join">
        <h1>why join the challenge?</h1>
        </div>

    <div class="row">
      <div class="col-md-4"> 
       <div class="section-border">
       <div class="arrow"></div> 
        <div class="create_health_para">
          <i class="fa fa-quote-left" style="display:block; text-align: center;"></i>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        </div>
      <div class="nurse-img">
        <img src="../images/nurse-testimonial-image-1.jpg">
        <p><b>Emilio Bennett,RN</b></p>
         <p>Suburban Hospital<br/>Bethesda, MD</p>
      </div>
      </div>
      </div>

       <div class="col-md-4"> 
       <div class="section-border"> 
        <div class="arrow"></div> 
        <div class="create_health_para">
          <i class="fa fa-quote-left" style="display:block; text-align: center;"></i>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        </div>
      <div class="nurse-img">
        <img src="../images/nurse-testimonial-image-2.jpg">
        <p><b>Stephanie Prince,RN</b></p>
        <p>George Washington University Hospital<br/> Washington, DC</p>
       
      </div>
      </div>
      </div>


       <div class="col-md-4"> 
       <div class="section-border"> 
        <div class="arrow"></div> 
        <div class="create_health_para">
          <i class="fa fa-quote-left" style="display:block; text-align: center;"></i>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        </div>
       <div class="nurse-img">
        <img src="../images/nurse-testimonial-image-3.jpg">
        <p><b>Jane General,RN</b></p>
         <p>Nash General Hospital<br/>Rocky Mount,NC</p>
      </div>
      </div>
      </div>
</div>
</div>

      <div class="row">
       <div class="col-md-12">
         <div class="hnhn-btn">
           <ul>
              <li><a href="#">join the challenge</a></li>
              <li class="mid_gap"><a href="#">learn why the<br/>challenge works</a></li>
           </ul>
        </div>
      </div>
     </div>
</div>
</div>
</div>
<!-- why join challenge area end -->
 
 <!---partner area start-->
  <div class="partner">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
        <div class="partner-handing">
           <h2>partners</h2>
        </div>
      <div class="col-md-7">
        <div class="partner-para">

           <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem </p>
           <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem </p>

        <ul>
              <li><a href="#">join the challenge</a></li>
              <li class="mid_gap"><a href="#">learn more about <br/> partnerships</a></li>
           </ul>
       </div>
      </div>

   <div class="col-md-5">
        <div class="partner-img">
          <img src="../images/hero-partners-image-1.jpg">
        </div>
      </div>

</div>
</div>
</div>
</div>



<!-- why sponser the challenge area start -->
 <div class="why-join-chall">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
        <div class="handing-why-join">
        <h1>why sponsor the challenge?</h1>

        </div>
       
      <div class="col-md-4"> 
       <div class="section-border">
       <div class="arrow_sponser"></div> 
        <div class="sponser_para">
          <i class="fa fa-quote-left" style="display:block; text-align: center;"></i>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        </div>
      <div class="nurse-img">
        <img src="../images/sponsor-testimonial-image-1.jpg">
        <p><b>Samuel Finn</b></p>
           <p>Durham, NC</p>
      </div>
      </div>
      </div>

       <div class="col-md-4"> 
       <div class="section-border"> 
        <div class="arrow_sponser"></div> 
        <div class="sponser_para">
          <i class="fa fa-quote-left" style="display:block; text-align: center;"></i>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        </div>
      <div class="nurse-img">
        <img src="../images/sponsor-testimonial-image-2.jpg">
        <p><b>Mark Lucas</b></p>
           <p>Washington, DC</p>
      </div>
      </div>
      </div>


       <div class="col-md-4"> 
       <div class="section-border"> 
        <div class="arrow_sponser"></div> 
        <div class="sponser_para">
          <i class="fa fa-quote-left" style="display:block; text-align: center;"></i>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        </div>
       <div class="nurse-img">
        <img src="../images/sponsor-testimonial-image-3.jpg">
        <p><b>Rebecca Ridley</b></p>
           <p>New York, NY</p>
      </div>
      </div>
      </div>

</div>

    <div class="row">
       <div class="col-md-12">
         <div class="hnhn-btn">
           <ul>
              <li><a href="#">sponser the challenge</a></li>
           </ul>
        </div>
      </div>
     </div>
</div>
</div>
</div>
<!-- why sponser the challenge area end -->
{% endblock %}



	
