@charset "utf-8";
/* CSS Document */

body{ padding:0; margin:0;}



/***** HEADER CSS START ******/

.header_top{ 
    color: #FFF;
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    transition: all .3s ease-in-out;
    box-shadow: inset 0 10rem 10rem -10rem rgba(0,0,0,.6);}

.top-banner-size { background:#009cdc;}
    
.beta_jo{ float:right;}

.beta_jo ul{ list-style:none; padding:0; margin:0;}

.beta_jo ul li{ float:left;}

.beta_jo ul li a { 
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #fff;
    display: block;
    text-decoration: none;
    margin: 7px 15px 7px 0;}
	
.beta_jo ul li a i{ font-size:18px; font-weight:600;}

/***** HEADER CSS END ******/


/***** NAVBAR CSS START ******/

.navbar-default {
    background-color: rgba(84, 91, 88, 0.8);
    border-color: transparent;
    border-radius: 0;
    margin: 0;
    top: 50px;
    z-index: 2;
    position: fixed;
    width: 100%;
}

.navbar-default-fixed{ background-color: #545B58; border-color: transparent;}

	
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
	margin-top:10px;}

.nav navbar-nav navbar-right { 
    float: right !important;
    margin-right: -75px; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff !important;
    background-color: #cf4520;}
	
.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li > a.active {
    color: #fff !important;
    background-color: #cf4520;}

/***** NAVBAR CSS END ******/

	
/*------- banner css area start -----------*/

.carousel {
    position: relative;
    z-index: -2;}

.carousel-inner > .item img{ width:100%; margin-top: -20px;}

.hnhn-nurse { position:absolute; top: -772px; right: 0; left: 218px; background:url(../images/back.png) no-repeat;}

.hnhn-nurse h1{
             text-transform:uppercase;
			 font-weight:bold;
			 font-size: 35px;
			 margin-top: 75px;
             margin-left: 123px;}
             
.hnhn-nurse h2{ 
             text-transform:uppercase;
			 font-weight:bolder;
			 font-size: 35px;
			 line-height: 6px;
             margin-left: 109px;}
			 
.hnhn-nurse h3 { 
                margin-top: 43px;
                font-weight: bolder;
                font-size: 35px;
				display:inline-block;
				margin-left:77px;}

.hnhn-nurse p {
           border-bottom: solid 2px #009CDC;
           display: inline-block;
           margin-left: 30%;
           font-weight: bolder;}

.hnhn-nurse h4{ 
          background:url(../images/back1.png) no-repeat;
		  padding: 22px;
          margin-left: 141px;
		  margin-bottom: 38px;}

.hnhn-nurse a.bnn_bnt1 {
    padding: 13px 16px;
    border: 1px solid;
    border-radius: 0;
    font-weight: 500;
    font-size: 14px;
    text-shadow: none;
    background: #009cdc;
    text-decoration: none;
	color: #fff; 
    display: inline-block;
    margin-left: 123px;}
	
.hnhn-nurse a.bnn_bnt1:hover {
    border-color: #ec5646;
    background: #C2432B;
    color: #fff;}

.free-org {
    padding: 0 19px;
    border: 1px solid;
    border-radius: 0;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    text-shadow: none;
	color:#FFF;
	background:#009cdc;}
			 
.free-org:hover {
    border-color: #ec5646;
    background: #C2432B;
    color: #fff;}
	
.logo_footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 23px 0 13px 68px;
    margin-top: -131px;}

.inner-logo ul { list-style:none;}

.inner-logo li { 
	display:inline;
	padding-left:10px;
	padding-right:10px;}

/*------- banner css area end -----------*/

  
/*-----Grand Challenge css start------*/  

.mid_section { background: url(../images/mid-banner.jpg) no-repeat; position: relative; }

.plus-icon {
    position: absolute;
    bottom: -33px;
    left: 567px;}

.grnd-color{ background:rgba(255,255,255, 0.6);
    padding: 35px 86px;
    margin: 85px 0;} 

.video-icon { 
    margin-top: 174px;
    margin-left: 73px;}

.video-icon p { 
    color: #49A2CE;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;}

.video-icon a { text-decoration: none; }

.grnd-challenge h1 { color: #cf4520;}

.grnd-challenge p { 
    font-size: 20px; 
    font-family: "Gotham SSm A", "Gotham SSm B"; font-style: normal; font-weight: 700;}

/*-----Grand Challenge css end------*/  


/*-----how it work css start------*/  

.how-it-wrk { padding: 2em 0; background:#efefef; }

.work-section h2 { 
    text-transform: uppercase;
    font-size: 30px; 
    font-family: "Gotham SSm A", "Gotham SSm B"; font-style: normal; font-weight: 700;}

.work-point p { font-size: 20px; vertical-align: middle; }

.work-point p strong {font-size: 60px; color: #74B5D3;}

.work-point ul { list-style: none; }

.work-point li { display:inline-block; color: #cf4520; margin: 10px;}

.work-point a { 
    color: #cf4520;
    font-family: "Gotham SSm A", "Gotham SSm B"; font-style: normal; font-weight: 700;
    font-size: 20px;
    text-decoration: none;}

.hnhn-btn{ text-align: center; }


.hnhn-btn ul { list-style: none; padding: 0; margin: 0;}

.hnhn-btn ul li { display: inline;}

.hnhn-btn ul li a {
    background: #238EC2;
    color: #FFFFFF;
    border: 1px solid;
    border-radius: 0;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 800;
    font-size: 15px;
    text-shadow: none;
    box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
    transition: all 300ms linear 0s;
    height: 70px;
    width: 249px;
    padding: 17px 0;
    text-decoration: none;
    margin: 45px 16px;}


.hnhn-btn ul li a:hover{ 
    background: #093A5B;
    color: #FFFFFF;}

.mid_gap{ vertical-align: top; }





/*-----how it work css end------*/

/*-----why join the challenge css start------*/

.handing-why-join h1{ 
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Gotham SSm A", "Gotham SSm B"; font-style: normal; font-weight: 700;}

.handing-why-join h1 { 
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 1;
}

.handing-why-join h1:after {
    content: "";
    position: absolute;
    left: 497px;
    bottom: 0;
    width: 100px;
    border-bottom: 3px solid #C44D38;}


.section-border{ border: solid 2px #E0DEDE;}

.create_health_para {
    background: #093A5B;
    font-size: 15px;
    padding: 25px 40px;
    color: #fff;
    text-align: center;}

.sponser_para {
    background: #C1432C;
    font-size: 15px;
    padding: 25px 40px;
    color: #fff;
    text-align: center;}

.nurse-img { text-align: center; padding-top: 38px;}

.nurse-img img { display: inline-block;}

.nurse-img p {margin-top: 10px;}

.arrow {
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 20px solid #093A5B;
    position: absolute;
    top: 161px;
    left: 163px;}

.arrow_sponser{
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 20px solid #C1432C;
    position: absolute;
    top: 161px;
    left: 163px;}
/*-----why join the challenge css end------*/


/*-----partner css start------*/
.partner { padding: 2em 0; background:#efefef; }

.partner-handing h2{ 
    font-size: 30px;
    text-transform: uppercase;
    margin: 40px 13px;
    font-family: "Gotham SSm A", "Gotham SSm B"; font-style: normal; font-weight: 700; }

.partner-handing h2 { 
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 1;}

.partner-handing h2:after {
    content: "";
    position: absolute;
    left: 2px;
    bottom: 0;
    width: 100px;
    border-bottom: 3px solid #C44D38;}

.partner-para p {
    font-size: 20px;  text-align: left;

    font-family: "Gotham SSm A", "Gotham SSm B"; font-style: normal; font-weight: 700;}

.partner-para{ text-align: center; }

.partner-para ul { list-style: none; padding: 0; margin: 0;}

.partner-para ul li { display: inline;}

.partner-para ul li a {
    background: #238EC2;
    color: #FFFFFF;
    border: 1px solid;
    border-radius: 0;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 800;
    font-size: 15px;
    text-shadow: none;
    box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
    transition: all 300ms linear 0s;
    height: 70px;
    width: 249px;
    padding: 17px 0;
    text-decoration: none;
    margin: 45px 16px;}


.partner-para ul li a:hover{ 
    background: #093A5B;
    color: #FFFFFF;}

.mid_gap{ vertical-align: top; }



/*-----partner css end------*/



/*-----footer css start------*/
.footer_area {  padding: 2em 0; background:#238EC2; }

.bg-border { border-left: 1px solid #55ADD8;}

.ana-img { margin-top: 10px;}

.ana-abt h3{ 
    font-size: 17px; 
    text-transform: uppercase;
    font-family: "Gotham SSm A", "Gotham SSm B"; font-style: normal; font-weight: 700;
    color: #FFF;}

.ana-abt ul {
    list-style: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
   line-height: 27px;}

.footer_area_2 { padding: 2em 0; background:#093A5B; }

.footer-border {  border-right: 1px solid #7D95A7; }

.footer_heading h3{
    font-size: 20px;
    text-transform: capitalize;
    color: #FFF; 
    font-family: "Gotham SSm A", "Gotham SSm B"; font-style: normal; font-weight: 700;
    margin-left: 30px; }

.footer_heading p { 
    font-size: 15px;
    color: #FFF;
    margin-left: 30px; }

.footer_heading { text-align: center; }

.footer_heading a {
    background: #C1432C;
    color: #FFFFFF;
    border-radius: 0;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 800;
    font-size: 15px;
    text-shadow: none;
    box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
    transition: all 300ms linear 0s;
    height: 58px;
    width: 215px;
    padding: 17px 0;
    text-decoration: none;
    margin: 45px 16px; }

.footer_heading a:hover{
    background: #FFF;
    color: #C1432C;}

.footer-bottom {
    background: #C1432C;
    border-top: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;   
}






/*-----footer css end------*/

 















 







	

	
